<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="default" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><md-icon md-svg-src="img/icons/ic_launch_24px.svg" aria-label="Cake"></md-icon>
              Received Orders
            </span>
            <span class="md-subhead">49</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref="main.orderList" class="md-icon-button md-primary" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card md-theme="default" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><md-icon md-svg-src="img/icons/copy.svg" aria-label="Cake"></md-icon>
              To Do Orders
            </span>
            <span class="md-subhead">25</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref="main.todo" class="md-icon-button md-primary" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="default" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              <md-icon md-svg-src="img/icons/cake.svg" class="s24" aria-label="Cake"></md-icon>
              Manage Defects</span>
            <span class="md-subhead">7</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref="main.defects" class="md-icon-button md-primary" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card md-theme="default" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">
              <md-icon md-svg-src="img/icons/ic_access_time_24px.svg" class="s24" aria-label="Today"></md-icon>
              View Day Calendar</span>
            <span class="md-subhead">12</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref="main.calendar" class="md-icon-button md-primary" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
</md-content>