<div md-theme="{{$ctrl.theme}}">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="$ctrl.toggleSideNav()">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>

            <md-select ng-model="$ctrl.accountId" ng-change="$ctrl.accountChange()">
                <md-option value="1">
                    InstallPro
                </md-option>
                <md-option value="2">
                    Lennox
                </md-option>
                <md-option value="3">
                    Carrier
                </md-option>
                <md-option value="4">
                    GE
                </md-option>
            </md-select>
        </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                Menu
            </div>       
        </md-toolbar> 
        <md-content>
            <md-list>
                <md-subheader class="md-no-sticky">Pages</md-subheader>
                <md-list-item>
                    <md-button ui-sref="home" ng-click="$ctrl.toggleSideNav()">Home</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ui-sref="preference" ng-click="$ctrl.toggleSideNav()">Preferences</md-button>
                </md-list-item>            
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">Actions</md-subheader>
                <md-list-item>
                    <md-button>Help</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button>Logout</md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <div ui-view></div>
</div>

